* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Noto Sans TC", sans-serif;
}

body{
    background-image: url("https://source.unsplash.com/l3N9Q27zULw/1920x1440");
    object-fit: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

.todolist{
    height: 100%;
    margin: 50px auto auto auto;
    padding: 20px;
    background:linear-gradient(45deg,rgb(252, 225, 108),rgb(245, 195, 102));
    border: 2px solid rgb(235, 204, 29);
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgb(90, 90, 90, 0.2);
}

label h1{
    display: block;
}

#input-data{
    padding: 5px;
    background: rgb(184, 184, 184);
    border: 2px solid rgb(184, 184, 184);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(90, 90, 90, 0.5);
    outline:none;
}

.function {
    height: 100%;
    margin: 20px auto 20px auto;
    padding: 5px;
    background-color: lightgreen;
    border: 1px solid rgb(80, 122, 80);
    border-radius: 10px;
}

.function-content{
    margin:0;
}

.function-buttons{
    margin:0;
}

.function-buttons button{
    height: 40px;
    margin: 1rem;
    background-color: rgb(29, 221, 221);
    border: 2px solid rgb(140, 193, 201);
    border-radius: 20px;
    text-decoration: none;
    color: rgb(192, 110, 27);
    box-shadow: 1px 1px 1px 1px rgb(90, 90, 90, 0.5);
    outline:none;
}

.functino:focus{
    outline:none;
}

.function button:hover{
    background-color: rgb(239, 241, 98);
    color: seagreen;
    transition: 0.5s;
}

.function .far{
    font-size: 20px;
}

.input-help {
    font-size: 24px;
    text-align: right;
}

.todolist h1{
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.header{
    width: 100%;
    height: 40px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: rgb(196, 233, 128);
}

.header-content {
    margin: auto;
}

.header-content h3{
    margin: 0;
    line-height: 40px;
}

.header-content:nth-child(1){
    text-align: left;
}

.content {
    padding: 0;
}

.note-items{
    height: 40px;
    width: 100%;
    margin: auto;
    padding: 0;
    background: khaki;
    border: 2px dotted grey;
    line-height: 40px;
    cursor: pointer;
}

.note-items:hover{
    color: grey;
    background-color: seashell;
    transition: 0.5s;
}

.todo-items input{
    display: none;
}

.todo-items {
    font-size: 1rem;
}

.todo-content{
    text-align: left;
}

.fas.fa-check {
    color: steelblue;
    transition: 0.5s;
}

.fas.fa-times {
    color: red;
    transition: 0.5s;
}

.text-linethrough {
    text-decoration: line-through;
    color: gray;
    transition: 0.5s;
}

.selected {
    background-color: rgb(252, 196, 164);
    transition: 0.5s;
}


@media (min-width:992px){

    .todolist{
        width: 1200px;
    }
}

@media (min-width:576px){
    .todolist{
        width: 720px;
    }
    .input-help {
        text-align: center;
    }
    .header-content h3{
        font-size: 1.25rem
    }
}

@media (max-width:576px){
    .todolist{
        width: 540px;
    }
}
